<!DOCTYPE html>
<html>
<head>
	<title>Clicker</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\Senai\dev\base_project\app\assets\stylesheets\estilo.css">
	<link rel="javascript" type="text/javascript" href="C:\Users\Senai\dev\base_project\app\assets\javascripts\funcoes.js">
</head>
<body>
<<<<<<< HEAD
<section id="app">
    <div id="div1">
      <button type="submit" 
      @click="updateCount()" id="clickButton">
      </button>
    </div>

    <!-- Second status  -->
    <div id="status"></div>
    <h1> You clicked <b>{{ numClicks }}</b> times</h1>
    <h2> You have <b>{{ secs }}</b> secs left </h2>
</section>
=======
	<h1>Salve rapaziada! </h1>
>>>>>>> fb9d3fa020e8a158f593bad23e3346cbca95d500
</body>
</html>
