<!DOCTYPE html>
<html>
<head>
	<title>SlideQuest Online</title>
</head>
<body>
	<h1>SlideQuest</h1>

	<button class="button">Criar uma Conta</button><br>
	<button class="button">Logar</button><br>
	<button class="button">Sair</button>


</body>
</html>
