<!DOCTYPE html>
<html>
<head>
	<title>SlideQuest Online</title>
</head>
<body>
	
	<h1>SlideQuest</h1>

	<p><button class="button">Criar uma Conta</button><br></p>
	<p><button class="button">Logar</button><br></p>
	<button class="button">Sair</button>
	

</body>
</html>
